<section class="main" id="task_page">
  <div class="sidebar">
    <div class="sidebar__item btn-all">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="36"
        height="36"
        viewBox="0 0 24 24"
      >
        <path
          fill="currentColor"
          d="M4 6h2v2H4zm0 5h2v2H4zm0 5h2v2H4zm16-8V6H8.023v2H18.8zM8 11h12v2H8zm0 5h12v2H8z"
        />
      </svg>
    </div>
    <div class="sidebar__item btn-complete">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="36"
        height="36"
        viewBox="0 0 24 24"
      >
        <path
          fill="currentColor"
          d="M15 6H3v2h12V6Zm0 4H3v2h12v-2ZM3 14h8v2H3v-2Zm8.99 1.025l1.415-1.414l2.121 2.121l4.243-4.242l1.414 1.414l-5.657 5.657l-3.535-3.536Z"
        />
      </svg>
    </div>
    <div class="sidebar__item btn-pending">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="36"
        height="36"
        viewBox="0 0 24 24"
      >
        <path
          fill="currentColor"
          d="M15.964 4.634h-12v2h12v-2Zm0 4h-12v2h12v-2Zm-12 4h8v2h-8v-2Zm9 1.076l1.415-1.415l2.121 2.121l2.121-2.12l1.415 1.413l-2.122 2.122l2.122 2.12l-1.415 1.415l-2.121-2.121l-2.121 2.121l-1.415-1.414l2.122-2.122l-2.122-2.12Z"
        />
      </svg>
    </div>
    <div class="sidebar__item btn-delete">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="36"
        height="36"
        viewBox="0 0 24 24"
      >
        <g fill="none" stroke="currentColor" stroke-width="1.5">
          <path
            d="m19.262 17.038l1.676-12.575a.6.6 0 0 0-.372-.636L16 2h-5.5l-.682 1.5L5 2L3.21 3.79a.6.6 0 0 0-.17.504l1.698 12.744a4 4 0 0 0 1.98 2.944l.32.183a10 10 0 0 0 9.923 0l.32-.183a4 4 0 0 0 1.98-2.944ZM16 2l-2 5m-5-.5l.818-3"
          />
          <path d="M3 5c2.571 2.667 15.429 2.667 18 0" />
        </g>
      </svg>
    </div>
  </div>
  <aside>
    <div class="header">
      <input class="search" type="text" placeholder="Search task here" />
      <a href="/task/create" class="btn">Add</a>
    </div>
    <article>
      <div class="main-content">
        <table class="e-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Policy</th>
              <th>Status</th>
              <th>Start date</th>
              <th>Due date</th>
              <th class="action-col">Action</th>
            </tr>
          </thead>
          <tbody>
            {{#with tasks}}
              {{#each items}}
                <tr>
                  <td>{{this.id}}</td>
                  <td>{{this.name}}</td>
                  <td>{{this.policy}}</td>
                  <td>{{this.status}}</td>
                  <td>{{this.start_date}}</td>
                  <td>{{this.due_date}}</td>
                  <td class="action-col">
                    <a class="btn action-btn edit-btn" href="/task/{{this.id}}/edit">Sửa</a>
                    <button class="btn action-btn delete-btn">Xóa</button>
                  </td>
                </tr>
              {{/each}}
            {{/with}}
          </tbody>
        </table>
        <div class="paginator">

        </div>
      </div>
    </article>
  </aside>
</section>